node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
.turbo
dist
build
storage/recordings/*
storage/thumbnails/*
storage/exports/*
!storage/recordings/.gitkeep
!storage/thumbnails/.gitkeep
!storage/exports/.gitkeep
api-error.log
.vscode
.idea
*.md
